$bgBlack: #181818;
$bgBlackBang: #202020;
$bgBlackDisplay: #222222;
$radiusDisplay: 14pt;
$paddingDisplay: 7px;
$whiteText: #FBFCFD;
$notificationsColor: #FE363C;
$blueDark: #1b78f1;
$blueLight: #1abff9;

@font-face {
  font-family: 'AppleTextFontRegular';
  src: url("../Fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: 'AppleTextFontLight';
  src: url("../Fonts/SF-Pro-Text-Light.otf");
}
@font-face {
  font-family: 'AppleTextFontSemibold';
  src: url("../Fonts/SF-Pro-Text-Semibold.otf");
}

@mixin notificationApp($value) {
  content: ""+$value+"";
  position: absolute;
  width: auto;
  height: 15px;
  background: $notificationsColor;
  border-radius: 10px;
  right: -6px;
  top: -6.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  min-width: 8px;
  font: {
    family: AppleTextFontRegular;
    size: 1.2em;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: AppleTextFontRegular, sans-serif;
}

label {
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  border: none;
  margin: 0;
  padding: 0;
  position: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.2;
}
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: none;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  content: none;
}

.container{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.iphone{
  width: calc(271.24431px - (9.5px * 2));//71.5mm
  height: calc(556.525038px - (8px * 2));//146.7mm
  background: $bgBlack;
  border-radius: 20px;
  position: relative;
  padding: 8px 9.5px;
}

.app_icon_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: auto;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2px;
  font: {
    family: AppleTextFontLight;
    size: 0.44em;
  }

  .app_icon{
    margin-bottom: 2px;
  }

  &:nth-child(5){
    .app_icon{
      &:before{
        @include notificationApp(175);
      }
    }
  }
  &:nth-child(18){
    .app_icon{
      &:before{
        @include notificationApp(3);
      }
    }
  }
}

.app_icon{
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #9afd7d 0%,#43e62f 100%);
  color: #fff;
}

.app_icon{
  &_calendar{
    background: #fff;
  }
  &_photo{
    background: #fff;
  }
  &_mail{
    background: linear-gradient(to top, #1abff9 0%,#1b78f1 100%);
  }
  &_camera{
    background: linear-gradient(to bottom, #dbdae0 0%, #97969c 100%);
  }
  &_whether{
    background: linear-gradient(to bottom, #125ab7 0%,#2f9be4 100%);
  }
  &_clock{
    background: #202020;
  }
  &_appStore{
    background: linear-gradient(to bottom, #1abff9 0%, #1d7af2 100%);
  }
  &_podcasts{
    background: linear-gradient(to bottom, #cc67fa 0%, #8932bf 100%);
  }
  &_books{
    background: linear-gradient(to bottom,#fe9807 0%,#fa741a 100%);
  }
  &_health{
    background: #fff;
  }
  &_home{
    background: #fff;
  }
  &_wallet{
    background: linear-gradient(to bottom, #1e1e20 0%,#1e1e1d 100%);
  }
}

.iphone_bang{
  width: 101.669196px;
  height: 20.295903px;
  background: $bgBlackBang;
  border: 1px solid $bgBlack;
  border-bottom-left-radius: 14pt;
  border-bottom-right-radius: 14pt;
  position: absolute;
  top: calc(8px - 1px);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.iphone_left_our_bang{
  position: absolute;
  color: $whiteText;
  z-index: 10;
  font: {
    family: AppleTextFontSemibold;
    size: 0.65em;
  }
  margin: 9px 18px;
  letter-spacing: -0.4px;
}

.iphone_right_our_bang{
  position: absolute;
  right: 9.5px;
  margin: 11px 12.3px;
  z-index: 10;
  color: $whiteText;
  display: flex;
  align-items: center;
  font: {
    family: AppleTextFontSemibold;
    size: 0.45em;
  }
  .connect{
    display: flex;
    .signal{
      width: 10px;
      height: 8px;
      svg{
        width: 100%;
        height: 100%;
      }
    }
  }

  .battery{
    width: 11.6px;
    height: 4.5px;
    background: transparent;
    border-radius: 1px;
    padding: 1px;
    outline: 0.5px solid #7f828b;
    margin-left: 3px;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      right: -2px;
      width: 1px;
      height: 2px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #7f828b;
      border-top-right-radius: 0.5px;
      border-bottom-right-radius: 0.5px;
    }

    .battery_full{
      width: 78%;
      height: 100%;
      background: white;
      border-radius: 1px;
    }
  }
}

.iphone_bottom_nav{
  position: absolute;
  inset: 479px 0 0 0;
  margin: 0 auto;
  width: 237px;
  height: 62px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(256, 256, 256, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  z-index: 2;
}

.iphone_display{
  width: calc(100% - (10px * 2));
  height: calc(100% - 48px);
  padding: 48px 10px 0;
  background: $bgBlackDisplay url("../img/iOS14dark.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  z-index: 1;
  overflow: auto;
  position: relative;
  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: 51.2px 51.2px 51.2px 51.2px 51.2px 51.2px;
  gap: 12px 18px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";

  &::-webkit-scrollbar {
    width: 0;
  }
}

img{
  width: 40px ;
  height: 40px;
  border-radius: 10px;
}

.content{
  width: 100%;
  height: auto;
  img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}